# macOS system files
.DS_Store

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
env/
.venv/

# IDE and editor settings
.vscode/
.idea/

# Data or temporary files (optional)
*.csv
*.log

# Jupyter checkpoints (if you use notebooks)
.ipynb_checkpoints/
all_stock_data.parquet
all_stock_data.csv